body {
    background-color: #172806;
    color: black;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
    background-repeat: repeat;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

p {
    text-align: right;
}

h1, h2 {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #489b00;
}

em {
    color: rgb(0, 128, 105);
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

q {
    font-style: italic;
}

strong, b {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: #1e58e9;
}

article {
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    background-color: #d0cfcf;
}